
/*          COLOR
- Purple 100: #dacffc light
- Purple 500: #7650dc dark

- Yellow 100: #f9eee1 light
- Yellow 500: #ffcb6b dark

- White: #ffffff
- Black: #121212
 */

@font-face {
    font-family: DMSans-Regular;
    src: url(assets/fonts/DMSans-VariableFont_opsz,wght.ttf);
}




body {
    background: #f8f3f3;
}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
    
}
    
.div1 {
    color: #ffffff;
    font-size: 45px;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    background: #7650dc;
    text-align: center;

    
}

.div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
    background: #ffffff;
    font-size: 35px;
    text-wrap: wrap;
    padding-left: 20px;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    background: #ffcb6b;
    font-size: 30px;
    text-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 20px;

}

.div4 {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
    background: #dacffc;
    padding-left: 20px;
    font-size: 15px;

}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
    background: #7650dc;
    padding-left: 20px;
    color: #ffffff;
    align-items: center;
    
}

.div6 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
    background: #ffffff;
    padding-left: 20px;

}

.div7 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 1;
    background: #f9eee1;
    padding-left: 20px;
    font-size: 40px;
    font-family: DMSans-Regular;
}

.div8 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    background: #ffcb6b;
    padding-left: 20px;
    align-items: center;
    font-size: 40px;
    text-wrap: wrap;
}
        
.cropping{
    align-self: self-end;
    width: 100%;
    height: 20%;
    object-fit: cover;
    object-position: 30% 0%;
} 

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }